*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Courier;
    
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

header {
    margin: 0;
    background-color: #EAFC88;
    top: 0;
}

.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}

nav li {
    display: flex;
    list-style-type: none; 
    display: inline-block;
    margin-right: 10px;
    padding-inline: 1rem;
    padding-block: 20px;
    gap: 1rem;
    
}

nav a {
    color: #202221;
    font-family: Courier;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
    color: #BDB4FF;
}

main {
    
    background-color: #FFFEEC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    flex-flow: row-wrap;
    justify-content: space-evenly;
    align-item: stretch;
    align-items: center;
    margin-top: 70px;
    padding: 20px;
  }

  #flower {
    animation: mymove 18s infinite;
  }
  
  @keyframes mymove {
    100% {transform: rotate(2000deg);}
  }

img {
    width: 100%
}

h1 {
  color: #202221;  
}

h2 {
    display: inline;
    color: #202221;
    padding: 20px;
    background-color: #ffccff;
    border-radius: 50px;
    text-align: center;
    margin: 50px;
}

.letter-spacing {
    letter-spacing: 10px;
    text-align: center;
}

h3 {
    margin: 50px;
    padding: 10px;
    color: #202221;
    font-weight: bold;
    text-align: center;
}

.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    border-radius: 100px;
    width: 70%;    
}

a {
    color: #BDB4FF;
}

aside {
    justify-content: space-evenly;
    text-align: center;
    padding-inline: 10px;
}


/* Slideshow container */
.slideshow-container {
    display: flex;
  max-width: 1000px;
  position: relative;
  margin: 80px;
}

.slideshow-container img {
    width: 100%;
    height: 400Px;
    object-fit: cover;
    
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #BDB4FF;
  background-color: #141414;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.box {
  display: flex;
  flex-direction: column;
  margin: 30px auto 30px auto;
  background-color: #DEC7FB;
  padding: 20px;
  border: 5px solid #141414;
  width: 70%;
  flex-wrap: nowrap;  
} 

#Message {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%; 
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  
}
button {
  background-color: #FFFEEC;
  color: #141414;
  padding: 15px;
  width: 200px;
  border-radius: 100px;
  margin: 40px auto 40px auto;
}

 footer {
    padding: 40px;
    background-color: #EAFC88;
    position: center;
}